*

!**/
pkg/

!.gitignore
!LICENSE
!**/README.md
!Containerfile
!**/*.yml
!*.sh
!**/example/*

!deployer-template/container-compose/example/env.*

!deployer-template/posix-shell/example/env.template
!deployer-template/posix-shell/tibero
!deployer-template/posix-shell/tb*
!deployer-template/posix-shell/get_env.sh

