
# copy this file to '.env' file in the deploy root

##### required #####

TB_IMG_NAME=   # full name including namespace, image name, and tag


##### optional #####

# common #
OCI_CMD=                 # command to use on deploy ("podman"/"docker"/"sudo docker")
TB_PORT=                 # default: '10000'
TB_VOLUME_MOUNT_PATH=    # default: '/opt/tibero/persistable'

# for-service-init #
TB_ASSET_DIR=            # default: './asset'

# for-service #
TB_CNT_RESTART_POLICY=   # default: 'unless-stopped'
TB_CNT_STOP_TIMEOUT=     # default: '120'
TB_CNT_NAME=
TB_VOL_NAME=




#####################################################################
#####  or other environment variables to use inside container:  #####
##### such as replacing variables '${VAR_NAME}' in tip.template #####
#####################################################################

#TB_TOTAL_SHM_SIZE=2G
#TB_MEMORY_TARGET=4G