#
# example env file for a "volatile" tibero service
#
#   * if applying 'TB_VOLUME_MOUNT_PATH' value as follows,
#     all changes on DB schemas are gone after every service restart (volatile)
#       -> this may be useful on specific use-cases (e.g. development test environments)
#


##### required #####

TB_IMG_NAME=(image name of *** "PREPARED" VERSION *** built with this builder)


##### optional #####

# common #
OCI_CMD=                 # command to use on deploy ("podman"/"docker"/"sudo docker")
TB_PORT=                 # default: '10000'
TB_VOLUME_MOUNT_PATH=/opt/tibero/persistable/config    # default: '/opt/tibero/persistable'

# for-service-init #
TB_ASSET_DIR=            # default: './asset'

# for-service #
TB_CNT_RESTART_POLICY=   # default: 'unless-stopped'
TB_CNT_STOP_TIMEOUT=     # default: '120'
TB_CNT_NAME=
TB_VOL_NAME=
