#
# an abstract template of '.env' file for this container-compose service deployer
#


##### required #####

#TB_HOSTNAME=(licensee-name-in-your-license-file)
#TB_IMG_NAME=(registry-image-name-to-use-built-with-this-builder)


##### optional #####

# common #
#TB_CNT_NAME=(basename-of-generated-container-name) # default: 'tb'
#TB_PORT=(listener-port-of-generated-container) # default: '10000'
#TB_VOLUME_MOUNT_PATH=(volume-mount-path-of-container-fs) # default: '/opt/tibero/persistable'

# for-service-init #
#TB_ASSET_DIR=(asset-dir-to-use) # default: './asset'

# for-service #
#TB_CNT_RESTART_POLICY=(restart-policy-of-generated-container) # default: 'unless-stopped'
#TB_CNT_STOP_TIMEOUT=(timeout-before-killing-container-when-sending-stop-signal) # default: '120s'
