#
# example env file for a "volatile" tibero service
#
#   * if applying 'TB_VOLUME_MOUNT_PATH' value as follows,
#     all changes on DB schemas are gone after every service restart (volatile)
#       -> this may be useful on specific use-cases (e.g. development test environments)
#


##### required #####

TB_HOSTNAME=(licensee name in your license file)
TB_IMG_NAME=(image name of *** "PREPARED" VERSION *** built with this builder)


##### optional #####

# mount volume only to the config directory:
#   database directory (/opt/tibero/persistable/database) is not preserved
TB_VOLUME_MOUNT_PATH=/opt/tibero/persistable/config
